:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --color-darker: #5c5577;
  --border-radius: 30px;
}

html {
  font-size: 62.5%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-size: 2.4rem;
  font-family: Inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.2;
}
/* Typography */
h1,
h2,
h3,
h4 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.8rem;
  }
}

/* Link */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->";
  margin-left: 4px;
}
.link-arrow:hover::after {
  margin-left: 10px;
  transition: margin 0.3s;
}

@media screen and (min-width: 1024) {
  .link-arrow {
    font-size: 1.5rem;
  }
}
/* Badge styling  */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}
.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}
.badge--small {
  font-size: 1.6rem;
}
@media screen and (min-width: 1024) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

.list {
  list-style: none;
  padding-left: 0;
  color: #16005e;
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 0.9rem;
}
.list--tick {
  list-style-image: url(../images/icons/tick.svg);
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  font-size: 2rem;
}

@media screen and (min-width: 1024) {
  .list--tick .list__item {
    padding-top: 20px;
    font-size: 3rem;
  }
}

/* Icon */
.icon {
  width: 40px;
  height: 40px;
}
.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}
.icon--accent {
  fill: var(--color-accent);
}
.icon--white {
  color: #fff;
}
.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 3rem;
  text-align: center;
  margin: 1rem 0;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}
.btn--primary:hover {
  background: #72aaf4;
}
.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}
.btn--secondary:hover {
  background: #75d8ea;
}
.btn--accent {
  background: var(--color-accent);
  color: #fff;
}
.btn--accent:hover {
  background: #ed8368;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--outline {
  background: var(--color-heading);
  color: var(--color-heading);
  background: #fff;
  border: 2px solid var(--color-heading);
}
.btn--outline:hover {
  background: var(--color-heading);
  color: #fff;
}

@media screen {
  .btn {
    font-size: 1.8rem;
  }
}

input {
  padding: 2rem 3rem;
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  outline: 0;
  color: var(--color-heading);
  font-size: 2rem;
}
::placeholder {
  color: #cdcbd7;
}

@media screen and(min-width:1024) {
  .input {
    font-size: 1.7rem;
  }
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}
.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}
.input-group .btn {
  margin: 4px;
}

/* Card */
.card {
  border-radius: 7px;
  box-shadow: 0 0 30px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 3rem;
}

.card--primary {
  background: var(--color-primary);
  color: #fff;
}
.card--secondary {
  background: var(--color-secondary);
}
.card--secondary .badge--secondary {
  background: #6cbecd;
}
.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

/* plans */
.plan__name {
  margin: 0;
  font-size: 2.4rem;
  color: #fff;
}
.plan__price {
  font-size: 6rem;
}
.plan__billing-cycle {
  font-size: 2.4rem;
  font-weight: 300;
  opacity: 1rem;
  margin-right: 1rem;
}
.plan__description {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 1px;
  display: block;
}
.plan .list__item {
  margin-bottom: 2rem;
}
.plan--popular .card__header {
  position: relative;
}
.plan--popular .card__header::before {
  content: url(../images/icons/popular.svg);
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -4px;
  right: 5%;
}
@media screen and (min-width: 1024) {
  .plan__name {
    font-size: 1.4rem;
  }
  .plan__price {
    font-size: 5rem;
  }
  .plan__description {
    font-size: 1.7rem;
  }
  .plan__billing-cycle {
    font-size: 1.6rem;
  }
}

/* media styling code */

.media {
  display: flex;
}
.media__title {
  margin: 0;
}
.media__body {
  margin: 0 3rem;
}

.media__image {
  margin-top: 0.7rem;
}

/* Quotes */
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-darker);
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}
.quote__author {
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 0;
}
.quote__organization {
  color: var(--color-heading);
  opacity: 0.4;
  font-size: 2rem;
  font-style: normal;
}

.quote__line {
  position: relative;
  bottom: 10px;
}

@media screen and (min-width: 1024) {
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }
  .quote__organization {
    font-size: 1.6rem;
  }
}

/* grid */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* testimonial */

.testimonial {
  padding: 3rem;
}
.testimonial__image {
  position: relative;
}
.testimonial__image > img {
  width: 100%;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 4rem;
  right: -32px;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }
  .testimonial .quote {
    margin-left: 6rem;
  }
}

/* callout code */
.callout {
  padding: 4rem;
  border-radius: 4px;
}
.callout--primary {
  background: var(--color-primary);
  color: #fff;
}

.callout__heading {
  margin-top: 0;
  color: #fff;
  font-size: 3rem;
}
.callout .btn {
  justify-self: center;
  align-self: center;
}
.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
}

.collapsible__content {
  display: none;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0deg);
}
.collapsible--expanded .collapsible__content {
  display: block;
}

/* block */

.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 3rem;
}

.block__heading {
  margin-top: 0;
}
.block__header {
  text-align: center;
}

.block--dark {
  background: #000;
  color: #7b88b7;
}
.block--dark .block__heading {
  color: white;
}
.block--skewed-right {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 80%);
}
.block--skewed-left {
  padding-bottom: calc(var(--padding-vertical) + 4rem);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/*  NavBar style */

.nav {
  background: #000;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}
.nav__item {
  padding: 0.4rem 2rem;
  border-bottom: 1px solid #222;
  list-style: none;
}
.nav__item > a {
  color: #d2d0db;
  transform: color 0.4s;
}
.nav__item > a:hover {
  color: #fff;
}
.nav__toggler {
  opacity: 0.4;
  transition: box-shadow 0.17s;
  cursor: pointer;
}
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px rgb(151, 143, 223);
  border-radius: 7px;
}
@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    display: flex;
    width: auto;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
}

/* Hero styles */

.hero {
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  padding-top: 0;
}
.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 4rem;
}
.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero__content {
    text-align: left;
    align-self: center;
  }
}
